body{
    background-color: #F5F2E8;
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.wrapper{
    width: 70vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.4fr 0.2fr 0.2fr 1fr .5fr 1fr .5fr;
    grid-template-areas: 
    "span1 span1 span1"
    "span2 span2 span2"
    ". span3 ."
    "span4 span4 span4"
    "span5 span6 span7"
    "span8 spani span9"
    "span10 spani span11"
    "span12 span12 span12"
    ;
    gap: 10px;
}

.span1 {
    grid-area: span1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-bottom: 4px solid black;
}

.span1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}
.span2{
    position: relative;
    grid-area: span2;
}
.span2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./digital-art-fantasy-art-colorful-space-art-wallpaper-preview.jpg);
    background-size: cover;
    background-position-y: 90%;
    border-radius: 10px;
    filter: blur(3px);
    z-index: -1;
}
.span2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid .2px #cc00ff;
    border-radius: 10px;
    z-index: 1; 
    box-shadow: -3px -3px 10px 1px #cc00ff, 3px 3px 10px 1px #1100ff;
}

.span3{
    grid-area: span3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    background: #000;
}

.span3 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}
.span4{
    grid-area: span4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span5{
    grid-area: span5;
    text-align: justify;
    text-justify: inter-word;
}

.span6{
    grid-area: span6;
}
.span7{
    grid-area: span7;
}

.span8{
    grid-area: span8;
}
.span9{
    grid-area: span9;
}
.span10{
    grid-area: span10;
}
.span11{
    grid-area: span11;
}

.ach{
    width: 100%;
    height: 200px;
}

.spani{
    grid-area: spani;
}

.spani img{
    width: 100%;
    height: 100%;
}
.span12{
    grid-area: span12;
    border-top: solid black 1px;
}